<div class="category-card">
  <div class="lessons-card-name">{{ teacher.full_name }}</div>
  <div class="lessons-card-description">Должность: {{ teacher.post }}</div>

  <div class="category-actions">
    <div class="category-action action-btn" (click)="updateTeacher(teacher._id!)" title="Редактировать">
      <svg class="icon">
        <use href="images/icons/sprite.svg#pencil"></use>
      </svg>
    </div>
    <div class="category-action action-btn" (click)="deleteTeacher(teacher._id!)" title="Удалить">
      <svg class="icon">
        <use href="images/icons/sprite.svg#delete-basket"></use>
      </svg>
    </div>
    <div class="category-action action-btn" (click)="viewTeacher(teacher._id!)" title="Просмотр">
      <svg class="icon">
        <use href="images/icons/sprite.svg#eye"></use>
      </svg>
    </div>
  </div>
</div>
