@import "../photos.component";

.actions {
  display: flex;
  gap: 10px;
  margin-top: 30px;

  .btn {
    width: 110px;
  }
}

h1 {
  margin-bottom: 30px;
}

.input-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="file"] {
  display: none; /* Скрываем стандартный инпут */
}

.btn-primary {
  @include admin-btn-primary
}
