@import "../../../../styles/fonts";
@import "../../../../styles/mixins";
@import "../../../../styles/vars";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: 0 auto;
}

.main-screen {
  position: relative;


  .header {

    .container {
      margin-top: 50px;
      display: flex;
      align-items: center;

      .logo-item {
        margin-right: 45px;
      }

      .nav {
        margin-right: 120px;

        .menu-items {
          display: flex;
          gap: 10px;
          list-style: none;

          .menu-item .menu-item-link {
            @include site-btn-yellow;
          }
        }
      }

      .contact-blind-block {
        display: flex;
        justify-content: space-between;
        gap: 18px;

        .contact {
          display: flex;
          align-items: center;
          padding: 10px 15px;
          gap: 5px;
          text-decoration: none;
          cursor: pointer;

          .icon {
            width: 16px;
            height: 16px;
          }

          .phone {
            @include admin-text-p3;
            text-transform: uppercase;
          }
        }

        .header-btn {
          border: 1px solid $admin-brown-color;
          padding: 15px 20px;
          display: flex;
          align-items: center;
          gap: 10px;
          border-radius: 36px;
          background: none;

          .icon {
            width: 22px;
            height: 14px;
          }

          .phone {
            @include admin-text-p3;
            text-transform: uppercase;
          }
        }
      }
    }
  }

}
