<section class="main-screen">
  <header class="header">
    <article class="container">
      <section class="logo-item">
        <img src="images/logo.png" alt="Логотип">
      </section>

      <nav class="nav">
        <ul class="menu-items">
          <li class="menu-item"><a class="menu-item-link">Почему именно мы?</a></li>
          <li class="menu-item"><a class="menu-item-link">педагоги</a></li>
          <li class="menu-item"><a class="menu-item-link">Направления</a></li>
          <li class="menu-item"><a class="menu-item-link">Отзывы</a></li>
        </ul>
      </nav>

      <section class="contact-blind-block">
        <a href="tel:+79521053239" class="contact">
          <svg class="icon">
            <use href="images/icons/sprite.svg#phone"></use>
          </svg>
          <span class="phone">
            + 7 952 (105) 32-39
          </span>
        </a>

        <button class="header-btn">
          <svg class="icon">
            <use href="images/icons/sprite.svg#main-eye"></use>
          </svg>
          <span class="phone">
            для слабовидящих
          </span>
        </button>
      </section>
    </article>
  </header>
</section>
