@import '../offers.component';

.container {

  .create-category-btn {
    margin-top: 30px;
  }

  .category-items {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }
}
