@import "fonts";

//Admin
//admin-colors
$admin-brown-color: rgb(88, 73, 69);
$admin-brown-light-color: rgb(113, 85, 77);
$admin-turquoise-color: rgb(83, 246, 234);
$admin-turquoise-brightly-color: rgb(120, 255, 244);
$admin-turquoise-muted-color: rgb(139, 230, 223);
$admin-red-color: rgb(227, 85, 61);
$admin-red-hover-color: rgb(151, 58, 42);
$admin-orange-color: rgb(252, 197, 119);
$admin-peach-color: rgb(255, 209, 166);
$admin-yellow-color: rgb(255, 227, 76);
$admin-yellow-light-color: rgb(255, 252, 229);
$admin-yellow-lighter-color: rgb(255, 254, 246);
$admin-green-lighter-color: rgb(19, 53, 9);
$admin-green-color: rgb(0, 76, 0);

//Admin Buttons
$admin-btn-primary: rgb(43, 60, 188);
$admin-btn-primary-hover: rgb(0, 33, 255);
$admin-btn-text: rgb(244, 244, 244);
$admin-btn-disabled: rgb(73, 73, 73);
